@import 'bootstrap-custom';

// Heading styles
h1, h2 {
    text-transform: uppercase;
}

h1 {
    line-height: 1.4em;
}

h3 {
    color: $brand-primary;
}

.circle-icon {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    padding: 0.75em;
    color: white;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
    a {
        text-transform: uppercase;
    }
}

.jumbotron {
    background: url("../img/banner.png") no-repeat center center #ccc;
    color: $gray-lighter;
    padding-top: 18em;
    margin-bottom: 0;
}

.row1 {
    background-color: $gray-lighter;
    .fa {
        background-color: $brand-primary;
    }
}

.row3 {
    background-color: $brand-primary;
    color: white;
    .fa {
        background-color: $gray-darker;
    }
}

footer {
    background-color: $brand-secondary;
    padding: 5.5em 0 5em;
    color: $gray-light;
    a {
        color: $gray-lighter;
        padding: 0 1em;
    }
    a:first-child {
        padding-left: 0;
    }
    a:focus, a:hover {
        color: white;
    }
    span {
        color: $brand-primary;
    }
}
