@import 'bootstrap-custom';

.navbar {
    margin-bottom: 0px;
    border: 0px;
    a {
        text-transform: uppercase;
    }
}

.banner {
    background: url("../img/banner.png") no-repeat center center #ccc;
}

.row1 {
    background-color: $gray-light;
}

.row3 {
    background-color: $brand-primary;
}
